<header class="section-header fixed-top" style="background-color: #1abaff;">
    <section class="navbar-light">
        <div class="container">
            <nav class="d-flex align-items-center flex-column flex-md-row">
                <ul class="nav mr-md-auto">
                    <li>
                        <a href="/products/sort/-onSaleTime">首頁</a>
                    </li>
                    <li class="pl-3">
                        <a href="/products/admin/all">管理員頁面</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</header>